/* ContactPage.css */
.contact-container {

  align-items: center;
  text-align: center;
  margin-top: 1cm;

  
}
.contact-container h1{
  font-weight: bold;
  font-family: 'Cinzel',serif;
  text-transform: uppercase;
  color: #f35906;
}

.contact-info{
  color: rgb(246, 9, 92);
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2cm;
}
.contact-img2{
  float: left;
  height:13cm;
  margin-left: 5cm;
  display: block;
}
.contact-form{
  display:flex;
  float: right;
  margin-right: 5cm;
  margin-top: 0;
}
body{
  background-color: black;
}