/* ContactForm.css */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(10, 10, 10);
  }
  
  input,
  textarea {
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
    width: 100%;
  }
  input,text{
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
    width: 100%;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: rgb(12, 12, 12);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  button:hover {
    background-color: #035007;
  }
  