.menu h1{
  font-size: 40px;
  font-weight: bold;
  padding: 30px;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi-izaC21401GHQz7kVdYhk0zvaJzsITq_Sw&usqp=CAU') ;
  
 
}
.category{
  margin-right: 20px;
  color: rgb(12, 12, 12);
}

.item-list{
  display: flex;
  margin: 20px;
  font-size: 10px;
}
.item-card{
  width: 250px;
  height: auto;
  padding:15px;
  margin-right: 30px;
  text-align: center;
  
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px rgb(14, 14, 14);
  }
  .item-card:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(13, 13, 13, 0.2);
  }
.item-card img{
  max-width:100%; 
  
  
}
.item-card h4{
  font-size: 15px;
  padding:5px 5px 10px 5px;
  font-weight: bold;
  color: rgb(8, 8, 8);
}
.item-card p{
  font-size: 15px;
  color: rgb(8, 8, 8);
  padding-bottom: 0;
}
  
.item-card button{
  
  margin-bottom: 0px;
  font-size: 10px;
  width: 3cm;
  margin-left: 1.5cm;
  color: antiquewhite;
  background-color: chocolate;
  border-radius: 40px;

}
.heading{
  font-size: 40px;
  margin:20px 10px 20px 10px;
  color: #f35906;
  font-weight: bold;
  text-align: center;
  font-family: 'Cinzel',serif;
}
.menu-container{
margin-top: 3cm;
}
.myorder button{
border-radius: 40px;
color:antiquewhite;
background-color: chocolate;
font-weight: bold;
padding: 10px;
}
.myorder  {
  display: flex;
  margin-top: 80px;
  overflow-x: scroll;
  color: rgb(13, 13, 13);
  
}
body{
  background-color: rgb(254, 252, 252);
}
  