/* Add styles in your CSS file or use a CSS-in-JS solution */
form {
    max-width: 400px;
   
  }
  
  
  .hours{
    color: black;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    color: rgb(7, 7, 7);
    border: 1px black;
  }
  
  button {
    
    color: rgb(18, 17, 17);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin-right: 0%;
    margin-left: 0;
  }
  button:hover{
    background-color: #8bf38f;
    
  }
 
  .booking-form h1{
    text-transform: uppercase;
    text-decoration: dashed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    color: rgb(251, 76, 12);
    margin-bottom: 30px;
  }
  .bg-booking{
    background-image: url(/public/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
  }